body 
{
background-color: orangered;
text-align: center;	
}

h1
{
    border: 20px cadetblue groove;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#shop
{
    background-color: blue;
    border: 5px gold groove;
}
